body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url('https://cdn.cnn.com/cnnnext/dam/assets/150103074330-hubble-space-background-2-full-169.jpg');
}

#container-filter {
  width: 30%;
  height: 100%;
  z-index: 100;
  position: absolute;
  background: #84b9fd;
  box-shadow: 0px 25px 25px #c6d5cd;
}

#button-filter {
  width: 250px;
  float: right;
  z-index: 100;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 20px 30px;
  padding: 15px 20px;
  border-radius: 35px;
  background: #84b9fd;
  border: 1px #84b9fd solid;
}

#container-password {
  width: 450px;
  z-index: 100;
  height: 450px;
  margin-top: 15%;
  position: fixed;
  margin-left: 50%;
  margin-right: 50%;
  border-radius: 30px;
  background: #b3b3b3;
}

#input-password {
  width: 80%;
  margin: 20%;
  height: 50px;
  border: none;
  padding: 10px;
  margin-left: 8%;
  margin-bottom: 30px;
  border-radius: 50px;
}

#button-generate {
  width: 250px;
  float: right;
  z-index: 100;
  outline: none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  margin: 20px;
  margin-right: 22%;
  padding: 15px 20px;
  border-radius: 35px;
  background: #84b9fd;
  border: 1px #84b9fd solid;
}

#container-filter > h2 {
  display: flex;
  justify-content: center;
  color: white;
}

#container-password > h1 {
  display: flex;
  justify-content: center;
  color: white;
}

#input-password {
  font-size: 22px;
}

#filters > label {
  font: white;
  font-size: 16px;
  font-style: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 30%;
}

#size-password {
  width: 80%;
  height: 50px;
  border: none;
  padding: 10px;
  font-size:16px;
  margin-left: 8%;
  text-align: center;
  border-radius: 50px;
}

#capital-letters, #number, #special-character {
  width: 80%;
  height: 50px;
  border: none;
  padding: 10px;
  font-size:16px;
  margin-left: 9%;
  text-align: center;
  border-radius: 50px;
}

