@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
}

.button-go-to-home {
  width: 200px;
  height: 40px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  font-weight: bold;
  border-radius: 11px;
  background-color: #6754fb;
  border: 1px solid #6754fb;
}

.button-go-to-home:hover {
  cursor: pointer;
}

.menu {
  width: 90%;
  margin-top: 3%;
  margin-left: 2%;
  font-size: 22px;
  color: #ffffff;
  font-weight: bold;
  text-align: right;
  position: absolute;
  font-family: 'Source Sans Pro', sans-serif;
}

.logo {
  margin-top: 2%;
  margin-left: 2%;
  position: absolute;
}

.menu > a {
  margin-right: 15px;
}

.page-not-found {
  width: 100%;
  align-self: center;
  position: absolute;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.page-not-found > img {
  width: 40vw;
  height: auto;
}

.texts {
  color: #ffffff;
  margin-top: 17px;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.texts.pageNotFound {
  font-size: 33px;
}
